*
{
    font-family: 'Roboto', sans-serif;


}


h3
{
    margin-top: 40px;
    padding-top: 30px;
}

.img_title
{
    width: 50%;

}

.img_title_direction
{
    display: block;
    text-align: center;
}

.city_block
{
    display: block;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    background-color: gainsboro;
    margin-left: -3%;
    margin-right: -3%;
    box-shadow: 0px 0px 0px 0px;
    padding: 0px;
    margin-top: 10px;
    box-shadow: inset 0px 5px 10px -10px gray;


}

.city_block p
{
    font-weight: bold;
}

.title
{
    margin-top: 10%;
}
a
{
    text-decoration: none;
    color: black
}
h4
{
    
    color: #b4b4b4;
}
h5
{
    color: white;
}

.fonction
{
    padding: 10px;
}
.explore
{
    display: ruby-base;
    padding: 15px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-color: transparent;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px #09080836;
    
   
}

.reserve_find_direction
{

    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 20px;
    margin-top: -40px;
}

.reserve_find_direction p
{
    padding: 0px 20px;
}
.image_restaurant
{
    width: 100%;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

  }

.description_text
{
    line-height: 0.5em;
    margin-top: 15px;
}
    


.section_restauration
{
    padding: 10px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
    padding-bottom: 50px;
}


.block_description
{
    display: flex;
    justify-content: space-between;
}




.block_restaurant
{

    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 10px 0px #09080836;
    position: relative;
}

strong
{
    margin-left: 10px;
}

.text_section_restaurant
{
    margin-left: 10px;
}


.search_restaurant_number
{
    background-color: #9356DC;
    color: white;
    border-radius: 100%;
    padding: 1px 5px;
    font-weight: bolder;
    height: 18px;
    position: absolute;
    left: -10px;
}

.search_restaurant
{

    border-radius: 20px;
    margin-bottom: 5%;
    background-color: #F2F2F2;
    box-shadow: 0px 5px 10px 0px #09080836;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.search_restaurant  p
{
    font-weight: bolder;
}

.search_restaurant:hover
{
    
    background-color:#f5edff;
}

.search_restaurant:hover i
{
    color: #9356dc;
}


.search_restaurant i
{
    margin: 0px 25px;
}

.compose_menu
{
    
    border-radius: 20px;
    margin-bottom: 5%; 
    background-color: #F2F2F2;
    box-shadow: 0px 5px 10px 0px #09080836;
}

.taste_restaurant
{
    
    border-radius: 20px;
    margin-bottom: 5%; 
    box-shadow: 0px 5px 10px 0px #09080836;
}

.block_selection
 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
 


 footer
 {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 }

 ul
 {
    list-style-type: none;
 }

 .link_footer
 {
    text-decoration: none;
    color: white;
   
 }

 .text_footer
 {
    font-family: 'Shrikhand', cursive;
    margin-left: 5%;
    color: white;
    font-style: italic;
    font-size: 22px;
 }
footer li
{
    font-weight: bolder;
    line-height: 1.5em;
}



  /*Position Absolute */

  .new
  {
    border: none;
    background-color:#99E2D0    ;
    padding: 7px 10px 7px 10px;
    right: 5%;
    position: absolute;
    color:#098c6c;
    font-weight: bold;
    border-radius: 2px;
  }

  .icone_heart
  {
    
   
    font-size: 36px;
    position: relative;
    padding-right: 20px;
    
    
  }

.fa-regular
{
    font-size: 23px;
}

  
 


  .icone_heart i.fa-sharp:hover
  {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9356dc+0,ff79da+100,ff79da+100 */
background: #9356dc; /* Old browsers */
background: -moz-linear-gradient(45deg, #9356dc 0%, #ff79da 100%, #ff79da 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #9356dc 0%,#ff79da 100%,#ff79da 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #9356dc 0%,#ff79da 100%,#ff79da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9356dc', endColorstr='#ff79da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .icone_heart i.fa-sharp
  {
    position: absolute;
    bottom: 20px;
    left: 267px;
    font-size: 25px;
    color: transparent;
    left: -1px;
    top: 12px;
  }

  .icone_heart:hover
  {
    background: white;
    border-bottom-right-radius: 15px;
  }


  @media (min-width : 1024px)

{
 .block_selection
 {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
 }

 .search_restaurant
 {
    width: 28%;
 }

 .restaurants
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

 }
 .block_restaurant
 {
    width: 40%;
 }

 footer ul

 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 footer p
 {
    text-align: center;
 }
}
  
