body
{
    position: relative;
    font-family: "Roboto",sans-serif;
    color: black;
}
.img_title
{
    width: 50%;

}
.img_title_direction
{
    display: block;
    text-align: center;
}

img
{
    width: 100%;
    margin-top: 10px;
}
.header_picture
{
  height: 300px;
}

section
{
    position: relative;
    top: -150px;
    background-color: #f7f7f7;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    margin-top: 95px;
}


.menu_title
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

p
{
    line-height: 0.5em;
    margin-left: 10px;
}



.bloc_entrées1
{
    
    border-radius: 20PX;
    padding-top: 0px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px #09080836;
}
.bloc_entrées2
{
    
    margin-top: 15px;
    border-radius: 20PX;
    padding-top: 0px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px #09080836;
}
.bloc_entrées3
{
    
    margin-top: 15px;
    border-radius: 20PX;
    padding-top: 0px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px #09080836;
}



.block1
{
    display: flex;
    flex-direction: column;
    padding: 5%;
}


.degrade-diagonal
{
    display: flex;
    justify-content: center;
}
.explore
{
    display: flex;
    justify-content: center;
    padding: 5%;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-color: transparent;
    border-radius: 30px;
    width: 50%;
    box-shadow: 0px 5px 10px 0px #09080836;
    height: 50px;
    width: 35%;
    padding-top: 0%;
    padding-bottom: 10px;
    margin-bottom: 25px;
     
}

h5
{
    color: #ffffff;
    text-decoration-line: none;
}

a
{
    text-decoration: none;
}


footer
{
   background-color: #353535;
   display: flex;
   flex-direction: column;
   margin-top: -150px;
   text-align: center;
}

ul
{
   list-style-type: none;
}

.link_footer
{
   text-decoration: none;
   color: white;
  
}

.text_footer
{
   font-family: 'Shrikhand', cursive;
   margin-left: 5%;
   color: white;
   font-weight: bold;
}
footer li
{
   font-weight: bolder;
   line-height: 1.5em;
}




.fa-arrow-left
{
position: absolute;
margin-top: 18px;
margin-right: -37px;
margin-left: -65px;
font-size: 1.5em;
}








h2
{
    font-family: 'Shrikhand', cursive;
    
}

.bloc_menu h4

{
    font-weight: normal;
}


.bloc_menu
{
    padding: 15px;
}

.card_menu
{
    position: relative;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px #09080836;
    -webkit-animation: slide 800ms both;
            animation: slide 800ms both;
    -webkit-animation: display_menu 800ms both;
            animation: display_menu 800ms both;
    
}

.card_menu_description 
{
    white-space: nowrap;
    overflow: hidden;
       
}

.card_menu_description p
{
    text-overflow: ellipsis;
}

.card_menu_price
{
    display: flex;
    align-items: end;
    padding-right: 10px;
    font-weight: bold;
}

.card_menu_price:hover
{
    display: none;
}

.font_weight_bold
{
    font-weight: bold;
}



/*test animation bouton check*/
@-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.1);
              transform: scaleX(0.1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.1);
              transform: scaleX(0.1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }

  @keyframes rotate-up {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
    
  }

  @-webkit-keyframes rotate-up {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
    
  }


  @-webkit-keyframes slide
   {
    0% {
      transform: translate(60px);
      opacity: 0;
    }
    100% {
      transform: translate(60px);
      opacity: 1;
    }
  }

  @keyframes slide {
    0% {
      transform: translate(60px);
      opacity: 0;
    }
    100% {
      transform: translate(60px);
      opacity: 1;
    }
  }

  @-webkit-keyframes display_menu{
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes display_menu {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }

.check_box
{
    position: relative;
    padding: 20px;
    background-color: #99e2d0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}

/*test animation bouton check*/
.card_menu:hover .check_box 
{
    -webkit-animation: scale-up-hor-right 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-right 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.check_box i
{
    color: white;
    font-size: 20px;
    margin:auto;

    /*test animation bouton check i*/
    
}


/*test animation bouton check i*/
.card_menu:hover i
{
    
    -webkit-animation: rotate-up 700ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: rotate-up 700ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



.card_menu:hover .check_box
{
    display: block;
}

.icone_heart_empty
{
position: absolute;
color: black;
display: felx;
display: flex;
align-items: end;
justify-content: end;
margin-right: 0px;
margin-left: 85%;
margin-bottom: -19px;
margin-top: -61px;
font-size: 1.7em;
}
.icone_heart_full
{
position: absolute;
color: #f2f2f2;
display: felx;
display: flex;
align-items: end;
justify-content: end;
margin-right: 0px;
margin-left: 85%;
margin-bottom: -19px;
margin-top: -61px;
font-size: 1.7em;

}

.fa-sharp:hover
{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9356dc+0,ff79da+100,ff79da+100 */
background: #9356dc; /* Old browsers */
background: -moz-linear-gradient(45deg, #9356dc 0%, #ff79da 100%, #ff79da 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #9356dc 0%,#ff79da 100%,#ff79da 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #9356dc 0%,#ff79da 100%,#ff79da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9356dc', endColorstr='#ff79da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  ;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card_price_icon
{
    display: flex;
}

.underline
{
    position: absolute;
    margin-top: -29px;
    color: #95e1cf;
    margin-left: 1px;
    font-weight: bold;
  }
  
    

.catégorie::before
{
    border-bottom: 2px solid #94e1ce;
}


footer i
{
  color: white;
}

@media only screen and (min-width : 1024px)

{

  section
  {
    width: 100%;
    
  }

  .header_picture
  {
    height: 500px;
  }
  section .bloc_menu
 {
    display: inline-table;
    width: 30%;
    justify-content: space-between;

  }

  .explore
  {

    margin-bottom: 40px;
    width: 10%;
  }

  footer
  {
    margin-top: -150px;
  }
}